*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Segoe UI', 'Noto sans', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9fafb;
}

@font-face {
  font-family: 'odin';
  src: url('./pics/Norse-Bold.otf');
}

/*** left side ***/
div#logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'odin';
  font-size: 4rem;
  text-transform: uppercase;
  color: white;
  padding: 2rem 1rem;
  margin-top: 200px;
}

p.odin-svg {
  width: 100px;
  height: 150px;
  background-image: url('./pics/odin-lined.png');
  background-repeat: no-repeat;
  background-size: contain;
}

div.left-side {
  width: 100%;
  height: 100vh;
  background-image: url('./pics/wolfgang-hasselmann-Hq4nVHQAa9o-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

p.image-credits {
  padding: 1rem;
}

p.image-credits, p.image-credits a {
  color: white;
  text-align: center;
}

/*** form area ***/
div.form-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

p.description, div.form-area > h3 {
  padding: 0 3rem 0 2rem;
  max-width: 50ch;
  font-size: 1.5rem;
  font-weight: bold;
}

form {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 8px rgba(54, 54, 54, 0.7);
  padding: 1.5rem 2rem;
}

form > h4 {
  font-size: 1.5rem;
}

div.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}


/*** media queries ***/
@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 30% auto;
  }

}

@media screen and (min-width: 1200px) {
  main {
    grid-template-columns: 40% auto;
  }
}