*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Segoe UI', 'Noto sans', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9fafb;
}

@font-face {
  font-family: 'odin';
  src: url('./pics/Norse-Bold.otf');
}

/*** left side ***/
div#logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'odin';
  font-size: 4rem;
  text-transform: uppercase;
  color: white;
  padding: 2rem 1rem;
  margin-top: 200px;
}

p.odin-svg {
  width: 100px;
  height: 150px;
  background-image: url('./pics/odin-lined.png');
  background-repeat: no-repeat;
  background-size: contain;
}

div.left-side {
  width: 100%;
  height: 100vh;
  background-image: url('./pics/wolfgang-hasselmann-Hq4nVHQAa9o-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

p.image-credits {
  padding: 1rem;
}

p.image-credits,
p.image-credits a {
  color: white;
  text-align: center;
}

/*** form area ***/
div.form-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

p.description,
div.form-area > h3 {
  padding: 0 3rem 0 2rem;
  max-width: 50ch;
  font-size: 1.5rem;
  font-weight: bold;
}

form {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 8px rgba(54, 54, 54, 0.7);
  padding: 1.5rem 2rem;
}

form > h4 {
  font-size: 1.5rem;
}

div.input-group {
  padding-top: 1rem;
}

label,
input,
span.error {
  display: block;
  width: 100%;
}

span.error.hidden {
  display: none;
}

label {
  text-transform: uppercase;
}

:focus {
  outline: none;
}

input {
  padding: 0.5rem;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input:focus {
  box-shadow: 0 0 0 2px rgb(10, 10, 160), 
    2px 2px 6px 0 rgba(54, 54, 54, 0.8);
}

input.validation-error {
  box-shadow: 0 0 0 2px rgb(173, 12, 12);
}

span.error {
  font-size: 0.7rem;
  color: rgb(173, 12, 12);
}

/*** register/login button area ***/
section.register-login {
  padding: 0 3rem 0 2rem;
}

button {
  display: block;
  border: none;
  margin: 2rem 0;
  padding: 1.3rem 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(250, 39, 78);
  color: white;
  box-shadow: 2px 2px 6px 0 rgba(54, 54, 54, 0.8);
  border-radius: 7px;
}

button:hover {
  background-color: #002f57;
}

a, a:active, a:visited {
  color: rgb(250, 39, 78);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: black;
}

/*** media queries ***/
@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 30% auto;
  }

  div.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  
  label,
  input,
  span.error {
    display: block;
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  main {
    grid-template-columns: 40% auto;
  }
}
